<div class="container">
	<div class="row">
		<div class="col-12 my-1">
			<img src="~/images/friends.jpg" />
		</div>

		<div class="col-12 my-1">
			<img src="~/images/friends_toons.jpg" />
		</div>

		<div class="col-12 my-1">
			<img src="~/images/people.jpg" />
		</div>
	</div>
</div>