@{
    ViewData["Title"] = "Search";
}

<div id="blure-facer" style="height: 50px;">
	<div class="d-flex p-1"
		 id="blure-facer-search">
		<div class="flex-grow-1">
			<input type="text"
				   id="blure-facer-search-address"
				   value="https://alferov.pro/about"
				   class="form-control rounded-0 rounded-left"
				   placeholder="enter an url and press the 'Blure' button, please" />
		</div>
		<div>
			<button role="button"
					class="btn btn-info rounded-0 rounded-right"
					id="blure-facer-search-button">
				Blure
			</button>
		</div>
	</div>	
</div>

<iframe class="w-100 border-0"
		style="position: absolute; top: 50px; left: 0; width: 100%; bottom: 0" 
		id="blure-facer-iframe">
</iframe>

<script>
	(function (buttonId, addressTextId) {
		const textUrl = document.getElementById(addressTextId);
		const buttonSearch = document.getElementById(buttonId);

		const getValidUrl = (url, origin) => {
			try {
				var newUrl = new URL(url);
				return url;
			}
			catch {
				return url[0] === '/'
					? origin + url
					: origin + '/' + url
			}
		}

		/**
		 *
		 * @@param {string} url
		 */
		async function loadUrl(url) {
			console.debug(`url: ${url}`);

			const viewUrl = `@Url.Content("~/Home/Viewer")?page=${url}`;
			const iframe = document.getElementById('blure-facer-iframe');
			iframe.onload = () => {
				console.debug(iframe.contentDocument.body);
			}
			iframe.src = viewUrl;
		}

		buttonSearch.addEventListener('click',
			() => {
				const url = textUrl.value;
				loadUrl(url);
			},
			false);
	})('blure-facer-search-button', 'blure-facer-search-address');

	const onresize = () => {
		const top = document.getElementById('blure-facer');
		const iframe = document.getElementById('blure-facer-iframe');
		iframe.style.height = (window.innerHeight - top.clientHeight) + 'px';
	};

	window.onresize = onresize;
	onresize();
</script>