<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script>
		(function () {
			const address = '@Url.Content("~/service-worker.js")';
			navigator.serviceWorker.register(address).then(reg => {
				reg.onupdatefound = () => {
					const installingWorker = reg.installing;
					installingWorker.onstatechange = () => {
						console.debug('installingWorker.state: ' + installingWorker.state);

						if (installingWorker.state === 'installed') {
							location.reload();
						}
					};
				};
			});
		})();
	</script>
</head>
<body>
	@RenderBody()
</body>
</html>
